<section class="page">
    <div class="pagecontent">

        <div class="row">
            <div class="col-xs-12">
                <h1 class="lead">
                    Things to do on this page
                </h1>

                <ol>
                    <li>
                        Create a controller named <code>AdminUserProfileCtrl</code> and hook it to this view
                    </li>
                    <li>
                        Create a function to load the correct user data based off the ID in the URL
                    </li>
                    <li>
                        Style a social media type page with a fake profile image, comment box and comments feed
                    </li>
                    <li>
                        You should have a text area where users can leave comments (Bonus points if you add the comment to thier wall without refreshing page)
                    </li>
                    <li>
                        Each comment should have many sub-comments all of which are owned by the logged in user (owner relationship)
                    </li>
                    <li>
                        You can use styles, markup etc from <code><a href="http://tattek.sk/minovate-angular/#/app/dashboard">HERE</a></code> (Please try to add some custom styles though)
                    </li>
                    <li>
                        Again, please don't get to hung up on the styles. Try to do the API relationships and then if you have time focus more on the styles
                    </li>
                </ol>
            </div>
        </div>
    </div>
</section>
