<div class="page page-core page-login">

    <div class="text-center">
        <h3 class="text-light text-white">
            EvusBoilerplate
        </h3>
    </div>

    <div class="container w-420 p-15 bg-white mt-40 text-center">

        <h2 class="text-light text-greensea">Error <strong>404</strong></h2>

        <h4 class="mb-0 mt-40">something's not right here</h4>

        <p class="text-muted">the page you are looking for cannot be found</p>

        <form class="mt-40">
            <div class="input-group w-md m-auto">
                <input type="text" class="form-control" placeholder="search...">
                <span class="input-group-btn">
        <button type="submit" class="btn btn-default">
            <fa name="search"></i>
        </button>
        </span>
            </div>
            <!-- /input-group -->
        </form>

        <div class="bg-slategray lt wrap-reset mt-40 text-center">
            <button class="btn btn-default btn-sm b-0">
                <fa name="refresh"></fa> Try again
            </button>
            <button class="btn btn-greensea btn-sm b-0">
                <fa name="home"></fa> Return to home
            </button>
            <button class="btn btn-lightred btn-sm b-0">
                <fa name="envelope-o"></fa> Contact support
            </button>
        </div>

    </div>

</div>
