<div class="page page-core page-login">

    <div class="text-center"><h3 class="text-light text-white">EvusBoilerplate</h3></div>

    <div class="container w-420 p-15 bg-white mt-40 text-center">

        <h2 class="text-light text-greensea">Error <strong>500</strong></h2>

        <h4 class="mb-0 mt-40">Whoops, a real big error here!</h4>

        <p class="text-muted">our code is broken :-(</p>

        <form class="mt-40">
            <div class="input-group w-md m-auto">
                <input type="text" class="form-control" placeholder="search...">
                <span class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
        </span>
            </div>
            <!-- /input-group -->
        </form>

        <div class="bg-slategray lt wrap-reset mt-40 text-center">
            <button class="btn btn-default btn-sm b-0"><i class="fa fa-refresh"></i> Try again</button>
            <button class="btn btn-greensea btn-sm b-0"><i class="fa fa-home"></i> Return to home</button>
            <button class="btn btn-lightred btn-sm b-0"><i class="fa fa-envelope-o"></i> Contact support</button>
        </div>

    </div>

</div>
