<section class="page page-core page-login hope-forgot">
    <div class="text-center">
        <h3 class="text-light text-white">
            EvusBoilerplate
        </h3>
    </div>
    <div class="container w-420 p-15 bg-white mt-40 text-center">
        <h2 class="text-light text-greensea">Forgot Password?</h2>
        <form name="form" class="form-validation mt-20" id="loginForm" novalidate>
            <p class="help-block text-left">
                Enter your e-mail address below to reset your password.
            </p>
            <div class="form-group">
                <input type="email" class="form-control underline-input" placeholder="Email" ng-model="user.email"
                       required>
            </div>
        </form>
        <div class="bg-slategray lt wrap-reset mt-40 text-left">
            <p class="m-0">
                <a ui-sref="admin.dashboard" id="submitForm" class="btn btn-greensea b-0 text-uppercase pull-right"
                   ng-disabled='form.$invalid'>
                    Submit
                </a>
                <a ui-sref="auth.login" class="btn btn-lightred b-0 text-uppercase">
                    Back
                </a>
            </p>
        </div>
    </div>
</section>
