<div class="page page-core page-login">

    <div class="text-center">
        <h3 class="text-light text-white">
            EvusBoilerplate
        </h3>
    </div>

    <div class="container w-420 p-15 bg-white mt-40">

        <div class="bg-slategray lt wrap-reset mb-20 text-center">
            <h2 class="text-light text-greensea m-0">
                Locked
            </h2>
        </div>

        <div class="media p-15">
            <div class="pull-left thumb thumb-lg mr-20">
                <img class="media-object img-circle" src="images/default.png" alt="default avatar">
            </div>
            <div class="media-body">

                <form name="login" ng-submit="lockedLogin()" class="form-validation" novalidate>
                    <h4 class="media-heading mb-0">
                        {{resource.fullName}}
                    </h4>
                    <div class="form-group mt-10">
                        <input type="password" name="password" placeholder="Password" class="form-control underline-input"
                               ng-model="resource.user.password" minlength="4" required>
                    </div>
                    <div class="form-group text-left">
                        <button type="submit" class="btn btn-greensea b-0 br-2 mr-5 block"
                           ng-disabled='login.$invalid' ng-disabled="login.$invalid">
                            Login
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="bg-slategray lt wrap-reset mt-0 text-center">
            <p class="m-0">
                <a href="javascript:;" ng-click="notYou()">
                    Not you?
                </a>
            </p>
        </div>
    </div> <!-- END .container -->
</div> <!-- END .page -->
