<section class="page page-core page-login hope-login">
    <div class="text-center">
        <h3 class="text-light text-white">
            EvusBoilerplate
        </h3>
    </div>

    <div class="container w-420 p-15 bg-white mt-40 text-center">
        <h2 class="text-light text-greensea">Log In</h2>

        <form name="loginForm" ng-submit="login(loginForm.$valid)" class="form-validation mt-20" novalidate>
            <div class="form-group">
                <input type="email" class="form-control underline-input" placeholder="Email" ng-model="resource.user.email"
                       required>
            </div>
            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control underline-input"
                       ng-model="resource.user.password" required>
            </div>
            <div class="form-group text-left mt-20">
                <button type="submit" class="btn btn-greensea b-0 br-2 mr-5" ng-disabled='loginForm.$invalid'>
                    Login
                </button>
                <label class="checkbox checkbox-custom checkbox-custom-sm inline-block">
                    <input type="checkbox" ng-model="resource.user.rememberMe"><i></i> Remember me
                </label>
                <a ui-sref="auth.forgotpassword" class="pull-right mt-10">
                    Forgot Password?
                </a>
            </div>
        </form>

        <div class="bg-slategray lt wrap-reset mt-40">
            <p class="m-0">
                <a ui-sref="auth.signup" class="text-uppercase">
                    Create an account
                </a>
            </p>
        </div>
    </div>
</section>
