<div class="page page-core page-login">

    <div class="text-center">
        <h3 class="text-light text-white">
            EvusBoilerplate
        </h3>
    </div>

    <div class="container w-420 p-15 bg-white mt-40 text-center">

        <h2 class="text-light text-greensea">Sign Up</h2>

        <form name="signupForm" class="form-validation mt-20" ng-submit="submitUserForm(signupForm.$valid)" role="form" novalidate>

            <p class="help-block text-left">
                Enter your personal details below:
            </p>

            <div class="form-group clearfix">
                <div class="col-sm-6 col-xs-12 pl-0">
                    <input type="text" class="form-control underline-input" placeholder="Firstname" ng-model="resource.user.firstName"
                           required>
                </div>
                <div class="col-sm-6 col-xs-12 pr-0">
                    <input type="text" class="form-control underline-input" placeholder="Lastname" ng-model="resource.user.lastName"
                           required>
                </div>
            </div>

            <div class="form-group">
                <input type="email" class="form-control underline-input" placeholder="Email" ng-model="resource.user.email"
                       required>
            </div>

            <div class="form-group">
                <input type="password" placeholder="Password" class="form-control underline-input"
                       ng-model="resource.user.password" required>
            </div>

            <div class="bg-slategray lt wrap-reset mt-20 text-left">
                <p class="m-0">
                    <button type="submit" class="btn btn-greensea b-0 text-uppercase pull-right"
                            ng-disabled='signupForm.$invalid'>
                        Submit
                    </button>
                    <a ui-sref="auth.login" class="btn btn-lightred b-0 text-uppercase">
                        Back
                    </a>
                </p>
            </div>
        </form>
    </div>
</div>
