<section class="page">
    <div class="pageheader">
        <h2 class="ng-binding">
            {{resource.page.name}} <span class="ng-binding"></span>
        </h2>
    </div>

    <div class="pagecontent">

        <div class="row">
            <div class="col-xs-12">
                <section class="tile" fullscreen="isFullscreen01">

                    <!-- tile header -->
                    <div class="tile-header dvd dvd-btm">
                        <h1 class="custom-font">
                            {{resource.tables.users.name}}
                        </h1>
                        <ul class="controls">

                            <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                                <a href="javascript:;" uib-dropdown-toggle class="dropdown-toggle settings">
                                    <fa name="cog"></fa>
                                </a>

                                <ul class="dropdown-menu pull-right with-arrow animated littleFadeInUp">
                                    <li class="hidden-xs">
                                        <a href="javascript:;" tile-control-fullscreen ng-click="isFullscreen01 = !isFullscreen01">
                                            <fa name="expand"></fa> Fullscreen
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" tile-control-lightbox>
                                            <fa name="magnet"></fa> Open in Lightbox
                                        </a>
                                    </li>

                                </ul>

                            </li>
                        </ul>
                    </div>
                    <!-- /tile header -->

                    <!-- tile body -->
                    <div class="tile-body ng-scope" ng-include="'views/admin/dashboard/tables/users.html'"></div>
                </section>
            </div>
        </div>
    </div>
</section>
