<table datatable="ng" dt-options="resource.tables.users.options" dt-column-defs="resource.tables.users.columns" class="table table-custom" width="100%">
    <thead>
        <tr>
            <th>
                Full Name
            </th>
            <th>
                Email
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in resource.tables.users.data">
            <td>
                {{user.firstName}} {{user.lastName}}
            </td>
            <td>
                {{user.email}}
            </td>
            <td>
                <a ui-sref="admin.userProfile({id: user.id})" class="btn btn-primary btn-border btn-rounded-20 btn-ef btn-ef-4 btn-ef-4b">
                    View <fa name="eye"></fa>
                </a>
            </td>
        </tr>
    </tbody>
</table>
