<div id="sidebar-wrap" ng-controller="AdminLeftNavCtrl">
    <uib-accordion close-others="resource.oneAtTime" slimscroll="{height: '100%'}">
        <uib-accordion-group is-open="resource.status.isFirstOpen">
            <uib-accordion-heading>
                {{'admin.left-nav.name' | translate}} <i class="pull-right fa"
                              ng-class="{'fa-angle-up': resource.status.isFirstOpen, 'fa-angle-down': !resource.status.isFirstOpen}"></i>
            </uib-accordion-heading>
            <ul id="navigation" nav-collapse ripple>
                <li ui-sref-active="active">
                    <a ui-sref="admin.dashboard">
                        <fa name="dashboard"></fa>
                        <span>{{'admin.left-nav.dashboard' | translate}}</span>
                    </a>
                </li>

                <li ui-sref-active="active" ng-class="{'open':$state.includes('admin.example')}">
                    <a href="javascript:;">
                        <fa name="bookmark"></fa>
                        <span>{{'admin.left-nav.example.first' | translate}}</span>
                    </a>

                    <ul ripple>
                        <li ui-sref-active="active">
                            <a ui-sref="admin.example">
                                <fa name="caret-right"></fa>
                                {{'admin.left-nav.example.second' | translate}}
                            </a>
                        </li>
                        <li ui-sref-active="active">
                            <a ui-sref="admin.example">
                                <fa name="caret-right"></fa>
                                {{'admin.left-nav.example.third' | translate}}
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </uib-accordion-group>
    </uib-accordion>
</div>
