<header class="clearfix" ng-controller="AdminTopNavCtrl">

    <!-- Branding -->
    <div class="branding {{main.settings.brandingColor}}">
        <a class="brand" ui-sref="admin.dashboard">
            <span>
                <strong>
                    Evus Technologies
                </strong>
            </span>
        </a>
        <a href="javascript:;" class="offcanvas-toggle visible-xs-inline" offcanvas-sidebar>
            <i class="fa fa-bars"></i>
        </a>
    </div>
    <!-- END Branding -->

    <!-- Left-side navigation -->
    <ul class="nav-left pull-left list-unstyled list-inline">
        <li class="sidebar-collapse divided-right">
            <a href="javascript:;" collapse-sidebar>
                <fa name="outdent"></fa>
            </a>
        </li>
    </ul>
    <!-- Left-side navigation end -->

    <!-- Right-side navigation -->
    <ul class="nav-right pull-right list-inline">

        <li class="dropdown nav-profile" uib-dropdown>

            <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle>
                <img src="images/profile-photo.jpg" alt="" class="img-circle size-30x30">
                <span>
                    {{resource.userName}} <fa name="angle-down"></fa>
                </span>
            </a>

            <ul class="dropdown-menu animated littleFadeInRight" role="menu">

                <li uib-tooltip="Quick login with just your password" tooltip-placement="left"
                    tooltip-popup-delay="400">
                    <a href="ajavascript:;" ng-click="lockOut()">
                        <fa name="lock"></fa>
                        Lock
                    </a>
                </li>

                <li>
                    <a href="javascript:;" ng-click="logOut();">
                        <fa name="sign-out"></fa>
                        Logout
                    </a>
                </li>
            </ul>
        </li>

        <li class="dropdown language" uib-dropdown>

            <a href="javascript:;" class="dropdown-toggle" uib-dropdown-toggle>
                <img ng-show="currentLanguage == language.langKey" ng-src="{{language.flag}}" ng-alt="{{language.name}}"
                     ng-repeat="language in resource.supportedLangs | filter: {enabled: true}">
            </a>

            <ul class="dropdown-menu pull-right with-arrow animated littleFadeInDown" role="menu">

                <li ng-class="{active: currentLanguage == language.langKey}" ng-repeat="language in resource.supportedLangs | filter: {enabled: true}">
                    <a href="javascript:;" ng-click="changeLanguage(language.langKey)">
                        <img ng-src="{{language.flag}}" alt=""> {{language.name}}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
    <!-- Right-side navigation end -->
</header>
